/*
## Colors

### Primary

- Desaturated Dark Cyan: hsl(180, 29%, 50%)

### Neutral

- Light Grayish Cyan (Background): hsl(180, 52%, 96%)
- Light Grayish Cyan (Filter Tablets): hsl(180, 31%, 95%)
- Dark Grayish Cyan: hsl(180, 8%, 52%)
- Very Dark Grayish Cyan: hsl(180, 14%, 20%)

## Typography

### Body Copy

- Font size: 15px

### Headings

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 500, 700


*/
:root {
     --desaturated-dark-cyan: hsl(180, 29%, 50%);

     --Light-Grayish-Cyan-Background: hsl(180, 52%, 96%);
     --Light-Grayish-Cyan-Filter-Tablets: hsl(180, 31%, 95%);
     --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
     --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Spartan", sans-serif;
}

.App-container {
     position: relative;
     min-width: 300px;
}

.header {
     height: 150px;
     background: url("./images/bg-header-mobile.svg"),
          var(--desaturated-dark-cyan);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     // position: relative;
     // padding: 20px;

     @media screen and (min-width: 600px) {
          background: url("./images/bg-header-desktop.svg"),
               var(--desaturated-dark-cyan);
          height: 100px;
          // background-size: cover;
          // background-repeat: no-repeat;
     }
}

.filter-container {
     // border: 2px solid red;
     max-width: 800px;
     margin-left: auto;
     margin-right: auto;
     // position: absolute;
     //  margin-top: -25px;
     //  transform: translateY(-100px);
     // top: 0;
     // bottom: 0;
     // left: 0;
     // left: 50%;
     // transform: translate(-50%, -50%);
     // // width: 100%;
     // //  display: flex;
     // z-index: 9;
     // display: flex;
     // // flex-direction: column;
     // justify-content: center;
     // align-items: center;
     margin-top: -50px;
}
.filter {
     // width: 80vw;
     // border: 2px solid blue;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: white;
     padding: 20px;
     border-radius: 10px;

     .filter-items-wrap {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .filter-item {
               display: flex;
               align-items: center;
               // border: 1px solid red;
               border-radius: 5px;
               background-color: var(--desaturated-dark-cyan);
               margin: 10px;

               .name {
                    background-color: var(--Light-Grayish-Cyan-Background);
                    color: var(--desaturated-dark-cyan);
                    // padding: 10px;
                    font-size: 0.8rem;
                    font-weight: 700;
                    flex: 3;
                    // border: 1px solid red;
                    padding: 10px;
               }
               .icon-wrap {
                    flex: 1;
                    // border: 1px solid red;
                    background-color: var(--desaturated-dark-cyan);
                    // width: 20px;
                    // height: 20px;
                    height: 100%;
                    width: 100%;
                    padding: 5px;
                    cursor: pointer;
                    &:hover {
                         // background-color: var(--Dark-Grayish-Cyan);
                         box-shadow: 0 0 5px 5px var(--desaturated-dark-cyan);
                    }

                    img {
                         width: 15px;
                    }
               }
          }
     }
     .clear {
          color: grey;
          font-weight: 700;
          cursor: pointer;
          &:hover {
               border-bottom: 2px solid var(--desaturated-dark-cyan);
          }
     }
}

.card-container {
     position: relative;
     background-color: var(--Light-Grayish-Cyan-Background);
     padding: 20px;
     border-radius: 10px;

     // border: 2px solid blue;

     // display: flex;
     // flex-direction: column;
     // justify-content: center;
     // align-items: center;
     // overflow: hidden;
}

.card {
     // box-shadow: 0px 0px 2px 2px rgba(128, 128, 128, 0.534);
     margin: 40px 0;
     margin-left: auto;
     margin-right: auto;
     // width: 80vw;
     padding: 20px;
     position: relative;
     background-color: white;
     border-radius: 10px;
     max-width: 800px;
     position: relative;
     @media screen and (min-width: 600px) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;
     }
}
.card.featured::after {
     position: absolute;
     content: "";
     width: 10px;
     height: 100%;
     background-color: var(--desaturated-dark-cyan);
     top: 0;
     left: 0;
     border-radius: 10px 0 0 10px;
     // border: 4px solid red;
     // border-color: transparent transparent transparent black;
}

.top {
     padding: 10px 0;
     padding-bottom: 15px;
}

.top {
     display: flex;
     z-index: 99999;
     @media screen and (min-width: 600px) {
          align-items: center;
     }
     @media screen and (min-width: 600px) {
          // min-width: 350px;
          width: 100%;
     }

     .logo {
          height: 40px;
          width: 40px;
          // background-color: grey;
          // border: 2px solid red;
          // background: url("./images/manage.svg");
          position: absolute;
          top: 0;
          left: 20px;
          transform: translateY(-50%);
          @media screen and (min-width: 600px) {
               position: unset;
               height: 80px;
               width: 80px;
               transform: unset;
               margin-right: 20px;
          }
     }
}

.info-wrap {
     display: flex;
     flex-direction: column;
     gap: 7px;
     // border: 2px solid red;

     .line1 {
          display: flex;
          gap: 10px;
          align-items: center;
          .company {
               font-weight: 700;
               font-size: 0.8rem;
               color: var(--desaturated-dark-cyan);
          }
          .new {
               padding: 5px 8px;
               background-color: var(--desaturated-dark-cyan);
               color: white;
               font-size: 0.5rem;
               font-weight: 700;
               border-radius: 10px;
               display: flex;
               justify-content: center;
               align-items: center;
          }
          .featured {
               padding: 5px 8px;
               background-color: rgba(0, 0, 0, 0.692);
               color: white;
               font-size: 0.6rem;
               font-weight: 700;
               border-radius: 10px;
               display: flex;
               justify-content: center;
               align-items: center;
          }
     }
     .line2 {
          font-size: 0.85rem;
          font-weight: 700;
     }
     .line3 {
          font-size: 0.7rem;
          color: grey;
          display: flex;
          gap: 10px;
     }
}

.bottom {
     // padding: 10px 0;
     padding-top: 15px;

     ul {
          list-style: none;
          display: flex;
          gap: 10px;
          flex-wrap: wrap;

          li {
               padding: 5px 8px;
               background-color: var(--Light-Grayish-Cyan-Background);
               color: var(--desaturated-dark-cyan);
               font-size: 0.7rem;
               font-weight: 700;
               border-radius: 5px;
               display: flex;
               justify-content: center;
               align-items: center;
               cursor: pointer;
               transition: all 0.3s ease-in-out;
               &:hover {
                    transform: scale(1.2);
               }
          }
     }
}
